*{
  margin:0;box-sizing:border-box;
}
body {               
  min-height: 100vh;
}
/*#custom-container-fluid{
width: 100%;
}*/

/*#custom-header{
background-color: #0078d7 ;
}*/
.container-left {
    background-image: url(../images/left-image.jpg);
    background-color: #0078d7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100vh;
}
.logo-centre {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    /*background-size: 50% auto;*/
}

.custom-container{
    position: absolute;
    top: 28%;
}


.container-right {
    background: #f2f2f2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffffff, #f2f2f2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffffff, #f2f2f2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}
.fb-logo {
    position: absolute;
    top: 94%;
    left: 85%;
    padding-left: 10px;
    padding-right: 10px;

}
.twitter-logo {
    position: absolute;
    top: 94%;
    left: 90%;
    padding-left: 10px;
    padding-right: 10px;

}
#social-com{
    position: absolute;
    top: 94%;
    width: 100%;
}
.close {
    text-align: right;
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap ;

}

#close{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;

}
/*.container-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap ;

}
.container-text h1 {
    font-size: 40px;
    color: #333333;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;

}*/
ul#identifier li::first-letter { 
    text-decoration: underline;
    -webkit-text-decoration-color: blue; /* Safari */    
    text-decoration-color: #0177D7;
    
}
ul#identifier li a:hover { 
    background-color: #0177D7;
    color: white;
    text-decoration: none;
}
ul#identifier li a{
    font-size: 40px;
    color: #333333;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.custom-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.custom-pl-5{
    padding-left: 3rem!important;
}
}

/*// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .custom-container{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.custom-pl-5{
    padding-left: 3rem!important;
}

 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
