/*QuickReset not required for bootstrap 4 */
/**{
  margin:0;box-sizing:border-box;
}*/

 /* body - or any parent wrapper */
body {               
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*to occupy the all the space in between header nad footer*/
main {
  flex: 1;
  position: relative;
  /*cut and paste the below margin-top for the first container helow the header*/
  /*margin-top: 14vh;*/
}

#header-row-height{
   /* height: 12.4vh;*/
}

.footer-bg{
    /*height: 15.9vh;*/
    background-color: #ebebeb ;
}
#footer-row1-height{
    height: 7.95vh;
}
/*#footer-row2-height{
    padding-bottom: 1rem;
}*/
#custom-ul{
    margin-bottom: 0!important;
}
/*ul#custom-ul-pad li {
   padding-left: 2.375rem;
}*/
ul#custom-ul li a{
    color: #000000;
    font-size: 0.875rem; /*equivalent to 14px*/
    font-family: "Fira Sans Regular", sans-serif;
}
#search-mt{
      /*margin-top: 9.6vh;*/
      margin-top: -1.4%;
}

nav.link_style a {
    font-size: 0.875rem;
    color: #ffffff;
    font-family: "Fira Sans Regular", sans-serif;
}

/*ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }
ul.icons li {
  display: inline-block;
  padding: 2em 1em 0 0;
}

ul.icons li a{
  font-size: 14px;
  color: #000000;
  font-family: "Fira Sans Regular", sans-serif;
}*/

.copyright {
    font-size: 0.75rem; /*equivalent to 14px*/
    color: #000000;
    font-family: "Fira Sans Regular", sans-serif;
    padding: 0 0 1em 0;
}
.search-font{
    font-size: 0.75rem; /*equivalent to 14px*/
    color: #000000;
    font-family: "Fira Sans Light", sans-serif;
}
/*#footer-color {
  background-color: #ebebeb ;
}*/
/*.custom-rounded {
    border-radius: 2.25rem!important;
}*/
/*.custom-h2 {
  margin-bottom: -0.5rem!important;
}*/
/*.rs-font{
  font-family: Arial !important;
}*/
/*.general{
  font-size: 14px!important;
  font-family: "Fira Sans Regular", sans-serif!important;
}*/

/*.bg-no-overlay {
    background: url("../images/plans/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}*/
/*.border-grey {
    border-color: #EDF1F4!important;
}*/
/*#absolute_position{
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    z-index: 2;
}*/


/*Demo*/
/*#navbarResponsive{
background-color: #0078d7 ;
z-index: 1;
}
div#navbarResponsive a {
    font-size: 0.875rem;
    color: #ffffff;
    font-family: "Fira Sans Regular", sans-serif;
}*/
/*Demo end
*/


.default-bg{
background-color: #0078d7 ;
/*z-index: 1;*/
}

#custom-search{
    z-index: 1;
    /*margin-top: 4.5rem!important;*/
    box-shadow: -2px 2px 38px #888888;
  }

.form-control-no-border:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*#money-size{
  font-size: 4em;
}*/
/*#column-1{*/
 /* background-color: red;*/
  /*padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}*/
/*#column-3{*/
  /*background-color: red;*/
 /* padding-right:  60px;
  padding-top: 50px;
  padding-bottom: 50px;
}*/

/*#column-2{
   
  height: 400px;
  padding: 28px;
  box-sizing:border-box;
  box-shadow: -2px 7px 18px #888888;
  
}*/
/*#column-2 ul{
  line-height: 3em;
}
#column-2 #custom-card-body{
  padding-top: 4px;
}*/
/*#awesome-icon-color{
  color: #ffffff;
}
*/

/*.animation-position{
  position: relative;
}*/

/*.search-bar-position{
  position: absolute;
}*/
/*.animation-position-alt{
  position: fixed;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}




/*@media only screen 
and (max-device-width : 575.98px) 
and (orientation : landscape) { 
  #search-mt {
    margin-top: 0 !;
}
#header-row-height {
    height: 14.4vh;
}
#logo-sm{
    height: auto;
    width: 70%;
}
}*/

/*iPhone 5 & 5S in landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
#header-row-height {
    height: 26.4vh!important;
}
}





 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  #search-mt {
    margin-top: -4.4%;
}
#header-row-height {
    height: 14.4vh;
}
#logo-sm{
    height: auto;
    width: 70%;
}
  /*.custom-left{
   position: absolute;
   right: 8.9vw;
}*/
}

/*// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.pb-md-3-1{
  padding-bottom: 1.25rem!important;
}
.px-md-5-5-2{
padding-left: 3rem!important;
padding-right: 3rem!important;
}
.mr-md-5-near{
  margin-right: 2.8rem!important;
}
}

@media (min-width: 1920px){
        .container {
            max-width: 1440px;
        }
}


