/*.home-custom-margin{
	margin-bottom: 0.5rem;
}*/
.default-bg{
	background-color: #0078d7 ;
}

.hero-text-family{
  font-family: "Fira Sans Light", sans-serif;
  color:#0063b2;
}
.hero{
	/* Sizing */
    height: 100vh;
}

/*.remove-br{
}
*/
.repeated-font-property{
	font-size: 0.875rem;
	color: #ffffff;
	font-family: "Fira Sans Regular", sans-serif;
}
#hero-text-2{
	margin-top: -0.5em;
}

.info-family-1{
	font-family: Fira Sans Medium;
	font-size: 1.125rem;
	color: #000000; 

}
.info-family-2{
	font-family: Fira Sans Light;
	font-size: 0.875rem;
	color: #000000; 

}



/*.wave-1{
        stroke: #2670B8;
        stroke-width:15;
  		stroke-linecap: round;
        stroke-dasharray: 1500;
  		animation: dash 30s linear infinite;
  		animation-delay: 0s;
      }
.wave-2{
        stroke: #1F6CB6;
        stroke-width:15;
  		stroke-linecap: round;
        stroke-dasharray: 1500;
  		animation: dash 30s linear infinite;
  		animation-delay: 0s;
      }

@keyframes dash {
  
  0% {
    stroke-dashoffset: 10;
  } 
  100% {
    stroke-dashoffset: 9800;
  }
}
*/

/*.color2{
fill: #1F6CB6;
}*/


/*Bootstrap primarily uses the following media query ranges*/

/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	#hero-text-1{
		font-size: 2.7rem;
	}
	#hero-text-2{
		font-size: 3.9375rem;
	}
	#hero-text-3{
		font-size: 4.5rem;
	}


 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.flow-arrow-1{
	height: 145px;
	}
	.flow-arrow-2{
		height: 145px;
		padding-top: 7em;
	}
 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	#hero-text-1{
		font-size: 4rem;
	}
	#hero-text-2{
		font-size: 5.9375rem;
	}
	#hero-text-3{
		font-size: 8rem;
	}

	.flow-arrow-1{
	height: 180px;
	}
	.flow-arrow-2{
		height: 180px;
		padding-top: 8em;
	}
 }


/*We occasionally use media queries that go in the other direction (the given screen size or smaller):*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.flow-arrow-1{
		height: 80px;
		padding-left: 12em !important;
	}
	.flow-arrow-2{
		height: 80px;
		padding-top: 1em !important;
		padding-right: 12em !important;
    
	}
	.flow-rotate-1{
		transform: rotate(90deg);
	}
	.flow-rotate-2{
		transform: rotate(85deg);
	}

 }

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  
	.remove-br br{
		display: none;
	}
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
	/*.remove-br br{
		display: none;
	}*/
 }

/*// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/


/*There are also media queries and mixins for 
targeting a single segment of screen sizes using the minimum and maximum breakpoint widths.*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  
	#hero-text-1{
		font-size: 1.8rem;
	}
	#hero-text-2{
		font-size: 2.5375rem;
	}
	#hero-text-3{
		font-size: 2.9rem;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.flow-arrow-1{
		height: 80px;
		padding-left: 12em !important;
	}
	.flow-arrow-2{
		height: 80px;
		padding-top: 1em !important;
		padding-right: 12em !important;
    
	}
	.flow-rotate-1{
		transform: rotate(90deg);
	}
	.flow-rotate-2{
		transform: rotate(85deg);
	}

  }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }




/*Saravana research and defined*/

@media (min-width: 1920px){
        
}




