/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }*/

/*.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
*/
/*html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   height:100%;
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
}
#body {
   padding:10px;
   padding-bottom:60px;   
}*/
/*#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   
   background:#6cf;
}*/
/*#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 138px; 
    background: #6cf;
}*/
/*.position-relative{
	bottom: -152px;
    background-color: red;
}
.card{
	bottom: -77px;
}*/
/*.style_prevu_kit
{
    display:inline-block;
    border:0;
    width:196px;
    height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}*/

/*QuickReset*/
*{margin:0;box-sizing:border-box;}


body {                /* body - or any parent wrapper */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/*.container-fluid {
  background-color: #0078d7 ;
}*/

nav.link_style a {
    font-size: 14px;
    color: #ffffff;
    font-family: "Fira Sans Regular", sans-serif;
}

ul.icons {
      cursor: default;
      list-style: none;
      /*padding-left: 0;*/
    }
ul.icons li {
  display: inline-block;
  padding: 2em 1em 0 0;
}

ul.icons li a{
  font-size: 14px;
  color: #000000;
  font-family: "Fira Sans Regular", sans-serif;
}



        /*ul.icons li:last-child {
          padding-right: 0;
        }

        ul.icons li .icon::before {
          font-size: 2em;
        }*/
.copyright {
    font-size: 12px;
    color: #000000;
    font-family: "Fira Sans Regular", sans-serif;
    padding: 0 0 1em 0;
}
#footer {
  background-color: #ebebeb ;
}
.custom-rounded {
    border-radius: 2.25rem!important;
}
/*.custom-h2 {
  margin-bottom: -0.5rem!important;
}*/
/*.rs-font{
  font-family: Arial !important;
}*/
/*.general{
  font-size: 14px!important;
  font-family: "Fira Sans Regular", sans-serif!important;
}*/
.bg-no-overlay {
    background: url("../images/plans/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.border-grey {
    border-color: #EDF1F4!important;
}
/*#absolute_position{
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    z-index: 2;
}*/
/*#custom-header{
position: fixed;
background-color: #0078d7 ;
z-index: 1;
}*/
#custom-search{
    z-index: 1;
    /*margin-top: 4.1rem!important;*/
    box-shadow: -2px 2px 38px #888888;
  }

.form-control-no-border:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.custom-left{
   
  }
/*#money-size{
  font-size: 4em;
}*/
/*#column-1{
  background-color: red;
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}*/
/*#column-3{
  background-color: red;
  padding-right:  60px;
  padding-top: 50px;
  padding-bottom: 50px;
}*/

#column-2{
  padding: 2rem;
  box-sizing:border-box;
  box-shadow: -2px 7px 18px #888888;
  
}
/*#column-2 ul{
  line-height: 3em;
}*/

#plan-family{
  font-family: 'Fira Sans',sans-serif; 
}
.amount-size-1{
  font-size: 3em;
  line-height: 1;
}
.save-size-1{
  font-size: 1.5em;
}
.amount-size-2{
  font-size: 4em;
  line-height: 1;
}
.save-size-2{
  font-size: 2em;
}
.custom-lh{
  line-height: 1;
}
.custom-font-light{
  font-weight: 300;
}
.scaling{
  transform: scale(0.9,0.9);
}
/*#column-2 #custom-card-body{
  padding-top: 4px;
}*/

/*Bootstrap primarily uses the following media query ranges*/

/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  
 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  #main-position{
    position: absolute;
    height: 100%;
    width: 100%;
  }
 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }


/*We occasionally use media queries that go in the other direction (the given screen size or smaller):*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  
 }

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  
  
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 
  /*.remove-br br{
    display: none;
  }*/
 }

/*// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/






 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  /*.custom-left{
   position: absolute;
    right: 8.9vw;
}*/
}

/*// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) {  }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  
      .amount-size-1{
        font-size: 2em;
      }
      .save-size-1{
        font-size: 1.5em;
      }
      .amount-size-2{
        font-size: 2em;
      }
      .save-size-2{
        font-size: 1.5em;
      }
      #column-2 {
        padding: 1rem;
      }
      .scaling {
          transform: scale(0.9,0.9);
      }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*// Extra large devices (large desktops, 1920px and up)*/
@media (min-width: 1920px){
        .container {
            max-width: 1440px;
        }

        .general-font-size{
          font-size: 1.5em;
        }

      .amount-size-1{
        font-size: 5em;
      }
      .save-size-1{
        font-size: 2.5em;
      }
      .amount-size-2{
        font-size: 6.5em;
      }
      .save-size-2{
        font-size: 3.5em;
      }
}
   