/*QuickReset*/
*{
  margin:0;box-sizing:border-box;
}

 /* body - or any parent wrapper */
body {               
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container-fluid-bg{
  background-color: #0078d7;
}
.container-custom{
    position: relative;
    background-color: #0078d7;
}
/*.overlay-row{
  margin-top: -27%;
}*/
.signup-background {
    background-image: url(../images/signup/bg.jpg);
    /*background-color: #0078d7;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: auto;
    height: 100vh;
}
.signup-image {
    background-image: url(../images/signup/signup.png);
   /* padding: 2px; 
    overflow:hidden; */
    /*background-color: red;
    height: 20px;
    width: 90px;*/
    background-size: contain;
    background-repeat: no-repeat;
    /*background-position: inherit;*/
    width: auto;
    height: 43vh;
    margin-top: 4rem;
}



.model-container{
    /*margin-top: 10vh;*/
    height: 84%;
   /* margin-bottom: 10vh;*/
}
.rowoverlay{
  position: absolute;
  top: 0;
  left:0;
 /* z-index:1;*/
  bottom:0;
  right:0;
  /*height:100%;*/
}

.custom-rounded {
    border-radius: 2.25rem!important;
}
    .form-control-no-border:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
/*font-size: 12px;*/
color: #000000;
font-family: "Fira Sans Regular", sans-serif;
}
.login-title {
margin-top: 2rem;
text-align: center;
/*font-size: 30px;*/
/*letter-spacing: 2px;*/
/* margin-top: 15px;*/
font-weight: bold;
font-size: 20px;
color: #000000;
font-family: "Fira Sans Regular", sans-serif;
}
.eye-color{
    color: #0078d7 !important;
}
.input-margin{
  margin-top: 1rem!important;
}
.fb-bg-color{
  /*font-size: 12px;*/
  background-color: #4867aa;
  color: #ffffff;
  font-family: "Fira Sans Regular", sans-serif;
}
.google-bg-color{
  /*font-size: 12px;*/
  background-color: #dd5044;
  color: #ffffff;
  font-family: "Fira Sans Regular", sans-serif;
}
.social-signup-row{
    position: relative;
    top: 13%;
}
.line-or-row{
    position: relative;
    top: 6%;
}

.normal-signup-row{

}
.forgot-password{
    margin-top: .5rem!important;
    margin-bottom: .5rem!important;
}
.family{
font-size: 12px;
color: #000000;
font-family: "Fira Sans Regular", sans-serif;
}
/*.coloverlay{
  background-color: rgba(233, 33, 33, .4);
  border: 1px solid red;
  height: 100%;
}*/

/*iPhone 5 & 5S in landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

}

 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  
}

/*// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
@media (min-width: 1920px){
        .container {
            max-width: 1440px;
        }
        .input-margin{
          margin-top: 3rem!important;
        }
        .normal-signup-row{
            position: relative;
            top: 5%;
        }
        .line-or-row {
            position: relative;
            top: 7%;
        }
        .social-signup-row {
            position: relative;
            top: 18%;
        }
        .forgot-password{
          margin-top: 1.5rem!important;
          margin-bottom: 1.5rem!important;
        }
}


