/*QuickReset*/
*{
  margin:0;box-sizing:border-box;
}

 /* body - or any parent wrapper */
body {               
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.signup-background {
    background-image: url(../images/signup/bg.jpg);
    background-color: #0078d7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100vh;
}
/*iPhone 5 & 5S in landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 

}

 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  
}

/*// Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
@media (min-width: 1920px){
        .container {
            width: 1440px;
        }
}

